<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/styleHome.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <header>
    <div class="cero">
        <div class="logo"><img src="/images/logo-mercado-liebre.svg" width="300"/></div>
        <div class="barra">
            <form class="box">  
                <input class="btn" type="text" placeholder="Buscar, productos y marcas">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="compra"> <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y tarjeta de credito</div>
    </div>
        <nav class="navbar">
            <ul class="Lista1">
                <a href="ofertas">Ofertas</a>
                <a href="tiendas">Tiendas Oficiales</a>
                <a href="vender">Vender</a>
                <a href="ayudar">Ayuda</a>
            </ul>
            <ul class="Lista2">
                <li class="crea">
                    <a href="register" class="link">Crea tu cuenta <i class="fa fa-address-card"></i></a>
                </li>
                <br>
                <li class="ingresa">
                    <a href="login" class="link">Ingresa <i class="fa-solid fa-store"></i></a>
                </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <button class="burger-menu" aria-label="Abrir Menu">
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </header>
    <br>
    <section class="uno">
        <div class="banner">
            <img src="images/banner.jpg" alt="banner">
        </div>
    </section>
    <br>
    <br>
    <section class="dos">
        <div class="Historial">
            <p><strong>Basado en tu última visita</strong></p>
            <p>Ver historial</p>
        </div>
    </section>
    <section class="tres">
        <br>
        <br>
        <div class="cafetera">
            <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
            <i class="fa-solid fa-truck-fast" style="color: #32a923;"></i>
            <p>$6.770</p>
            <p style="color: #32a923;"><strong>40% off</strong></p>
            <p>Cafetera Moulinex</p>
        </div>
        <div class="celular">
            <img src="images/img-samsung-galaxy-s10.jpg" alt="">
            <i class="fa-solid fa-truck-fast" style="color: #32a923;"></i>
            <p>$70.500</p>
            <p style="color: #32a923;"><strong>10% off</strong></p>
            <p>Celular Galaxy Samsung S10</p>
        </div>
        <div class="macbook">
            <img src="images/img-macbook-pro-2019.jpg" alt="macbook">
            <i class="fa-solid fa-truck-fast" style="color: #32a923;"></i>
            <p>$230.000</p>
            <p style="color: #32a923;"><strong>20% off</strong></p>
            <p>MacBook Pro 2019</p>
        </div>
        <div class="tv">
            <img src="images/img-tv-samsung-smart.jpg" alt="tv">
            <i class="fa-solid fa-truck-fast" style="color: #32a923;"></i>
            <p>$1´230.000</p>
            <p style="color: #32a923;"><strong>30% off</strong></p> 
            <p>Tv Samsung Smart</p>
        </div>
    </section>
    <footer>
        <div class="tarjeta">
            <i class="fa-regular fa-credit-card fa-xl"></i>
            <h3>Paga con tarjeta o efectivo</h3>
            <br>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="envio">
            <i class="fa-solid fa-gift fa-xl"></i>
            <h3>Envio gratis desde $2.500</h3>
            <br>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="seguridad">
            <i class="fa-solid fa-shield fa-xl"></i>
            <h3>Seguridad, de principio a fin</h3>
            <br>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
    </footer>
</body>
</html>
