<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/styleHome.css">
    <link rel="stylesheet" href="/CSS/styleLogin.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <header>
        <div class="cero">
        <div class="logo">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" width="300"/></a>
        </div>
            <div class="barra">
                <form class="box">  
                    <input class="btn" type="text" placeholder="Buscar, productos y marcas">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="compra"> <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y tarjeta de credito</div>
        </div>
            <nav class="navbar">
                <ul class="Lista1">
                    <a href="ofertas">Ofertas</a>
                    <a href="tiendas">Tiendas Oficiales</a>
                    <a href="vender">Vender</a>
                    <a href="ayudar">Ayuda</a>
                </ul>
                <ul class="Lista2">
                    <li class="home">
                        <a href="home" class="link">Home <i class="fa-solid fa-house"></i></a>
                    </li>
            </nav>
        </header>
        <section class="form-login">
            <div class="form">
                <img src="/images/login.jpg" width="150" alt="login">
            </div>
            <h4><strong>Formulario de Log In</strong></h4>
            <input class="control" type="email" name="correo" id="correo" placeholder="Ingrese su correo">
            <input class="control" type="password" name="password" id="password" placeholder="Ingrese su contraseña">
            <input class="boton" type="submit" value="Log In">
            <p><a href="#" class="link">¿Olvidó la contraseña?</a></p>
            <li class="ir-login">
                <p><a href="/register" class="link">¿Aún no tengo cuenta?</a></p>
            </li>
        </section>
</body>
</html>
